services:
  devfornet-postgres:
    container_name: devfornet-postgres
    image: postgres:latest
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    restart: unless-stopped
    networks:
      - devfornet-network

networks:
  devfornet-network:
    external: true

volumes:
  devfornet_postgres: